.main-background{
	-fx-background-color: #6B6B6B;
}

.nav-bar{
	-fx-background-color: #5E5E5E;
}

.green-button{
	-fx-background-color: #9AF445;
}

.green-button:hover{
	-fx-background-color: #88D33D;
}

.green-button:pressed{
	-fx-background-color: #71AF33;
}