.main-background{
	-fx-background-color: #6B6B6B;
}

.nav-bar{
	-fx-background-color: #5E5E5E;
}

.green-button{
	-fx-background-color: #2AD1BB;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

.green-button:hover{
	-fx-background-color: #25B29F;
}

.green-button:pressed{
	-fx-background-color: #1A7F70;
}

.delete-button{
	-fx-background-color: #FF3D3D;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

.delete-button:hover{
	-fx-background-color: #CC3030;
}

.delete-button:pressed{
	-fx-background-color: #992424;
}

.nav-bar-tab{
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-radius: 0;
	-fx-background-color: #5E5E5E;
	-fx-text-fill: white;
}

.nav-bar-tab:hover, .nav-bar-tab:selected{
	-fx-background-color: #2AD1BB;
	-fx-text-fill: black;
}

.nav-bar-tab:pressed, .nav-bar-tab:selected:pressed{
	-fx-background-color: #25B29F;
	-fx-text-fill: black;
}

.account-button{
	-fx-graphic: url("Profile_Round_White_Small.png");
}

.account-button:hover, .account-button:pressed, .account-button:selected {
	-fx-graphic: url("Profile_Round_Black_Small.png");
}

.table{
	-fx-font-size: 14px;
}

.contactBox{
	-fx-border-color: white;
}

.warningLabel{
	-fx-text-fill: #FFFF00;
	-fx-font-weight: bold;
}

.price-column{
	-fx-alignment: CENTER-RIGHT;
}

.axis{
	-fx-tick-label-fill: white;
	-fx-tick-label-font-size: 14px;
}

.axis-label{
	-fx-text-fill: white;
	-fx-font-size: 14px;
}

.reports-accordion{
	-fx-box-border: #6B6B6B;
}

.inner-accordion-pane{
	-fx-background-color: #6B6B6B;
}

.accordion-pane > .title{
	-fx-background-color: #2AD1BB;
}

.accordion-pane > .title:hover{
	-fx-background-color: #25B29F;
}

.accordion-pane > .title:pressed{
	-fx-background-color: #1A7F70;
}

.combo-box{
	-fx-font-size: 14px;
}